.TodoItem {
  font-family: 'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif;
  font-weight: normal;
  font-size: 23px;
  color: #4d4d4d;
  border-bottom: 1px solid #bebebe;
  padding: 10px 5px;
  display: flex;
}

.TodoItem:last-child {
  border-bottom: none;
}

.TodoItem > p {
  margin: 0;
  margin-left: 15px;
}

.TodoItem-done > p {
  text-decoration: line-through;
  opacity: 0.3;
}
