.TodoItem {
  font-family: 'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif;
  font-weight: normal;
  font-size: 23px;
  color: #4d4d4d;
  border-bottom: 1px solid #bebebe;
  padding: 20px 10px;
  display: flex;
}

.TodoItem:hover > #cancel {
  display: block;
}

.TodoItem > p {
  margin: 0;
  margin-left: 15px;
  flex-grow: 1;
}

.TodoItem #cancel {
  display: none;
}

.TodoItem-done > p {
  text-decoration: line-through;
  opacity: 0.3;
}
