.App {
  width: 550px;
  margin: 40px auto;
  border: 1px solid #EEE;
  background-color: white;
  box-shadow: 10px 5px 50px 30px #ebebeb;
}

.App .Header {
  padding: 10px 5px;
  display: flex;
  border: 1px solid #bebebe;
}

.App .Header input {
  font-family: 'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif;
  font-weight: normal;
  font-size: 23px;
  padding-left: 10px;
  width: 100%;
  border: none;
}

.App .Header input::placeholder {
  opacity: 0.3;
  font-style: italic;
}

.App .Header input:focus {
  outline: none;
}

.App .Footer {
  font-family: 'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif;
  font-weight: normal;
  font-size: 15px;
  display: flex;
  padding: 0px 10px;
  opacity: 0.5;
}

.App .Footer .Filter {
  flex-grow: 1;
  text-align: center;
  padding: 15px 0px;
}

.App .Footer .Filter span {
  margin: 0 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
