.Status {
  width: 500px;
  height: 100px;
  border: 1px solid #DDD;
  border-radius: 5px;
  margin: 10px 0 0 10px;
  padding: 5px;
}

.Status .status-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #BBB;
}

.Status .status-header .option {
  flex-grow: 1;
  text-align: right;
}

.Status .status-header .option a {
  text-decoration: none;
  display: inline-block;
  height: 25px;
  margin: 0 5px;
  padding: 4px 8px;
  color: black;
  background-color: #BBB;
  border-radius: 10px;
}

.Status .status-look {
  display: flex;
  height: 38px;
  justify-content: space-around;
  align-items: center;
}
